<!DOCTYPE html>
<html lang="en" dir="">
  {% load static %}

  <head>


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Board | Gull admin template</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="{% static 'dist-assets/css/themes/lite-blue.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'dist-assets/css/plugins/perfect-scrollbar.css' %}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'dist-assets/css/plugins/fontawesome-5.css' %}"
    />
    <link
      href="{% static 'dist-assets/css/plugins/metisMenu.min.css' %}"
      rel="stylesheet"
    />



    <script src="{% static 'dist-assets/js/plugins/jquery-3.3.1.min.js' %}"></script>
    <script>var $draggable = jQuery.noConflict();</script>
    <script src="{% static '/dist-assets/js/scripts/draggable.js' %}"> </script>
    <script src="{% static '/dist-assets/js/scripts/draggable2.js' %}"> </script>
    


    <script src="{% static 'dist-assets/js/plugins/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dist-assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'dist-assets/js/scripts/tooltip.script.min.js' %}"></script>
    <script src="{% static 'dist-assets/js/scripts/script.min.js' %}"></script>
    <script src="{% static 'dist-assets/js/scripts/script_2.min.js' %}"></script>
    <script src="{% static 'dist-assets/js/scripts/sidebar.large.script.min.js' %}"></script>
    <script src="{% static 'dist-assets/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'dist-assets/js/plugins/metisMenu.min.js' %}"></script>
    <script src="{% static 'dist-assets/js/scripts/layout-sidebar-vertical.min.js' %}"></script>
    <script src="{% static 'dist-assets/js/plugins/dragula.min.js' %}"></script>
    <script src="{% static 'dist-assets/js/scripts/board.min.js' %}"></script>

    <script src="{% static 'dist-assets/js/plugins/tagging.min.js' %}"></script>
    <script src="{% static 'dist-assets/js/scripts/tagging.script.min.js' %}"></script>



 

    <link href="{% static 'dist-assets/css/themes/lite-blue.css' %}" rel="stylesheet" />
    <link href="{% static 'dist-assets/css/plugins/perfect-scrollbar.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'dist-assets/css/plugins/fontawesome-5.css' %}" />
    <link href="{% static 'dist-assets/css/plugins/metisMenu.min.css' %}" rel="stylesheet" />



    
  </head>

  <body class="text-left" >
    <div class="app-admin-wrap layout-sidebar-vertical sidebar-full" >
      <div class="sidebar-panel bg-white" >
        <div
          class="gull-brand pr-3 text-center mt-4 mb-2 d-flex justify-content-center align-items-center"
        >
          <img
            class="pl-1"
            src="{% static 'dist-assets/images/logo.png' %}"
            alt="alt" 
          />
          <!--  <span class=" item-name text-20 text-primary font-weight-700">GULL</span> -->
          <div class="sidebar-compact-switch ml-auto"><span></span></div>
        </div>
        <!--  user -->
        <div
          class="scroll-nav ps ps--active-y"
          data-perfect-scrollbar="data-perfect-scrollbar"
          data-suppress-scroll-x="true" 
        >
          <div class="side-nav" >
            <div class="main-menu">
              <ul class="metismenu" id="menu">
                <li class="Ul_li--hover">
                  <a href="{% url 'analyzer:show_dashboard' %}"
                    ><i
                      class="i-File-Horizontal-Text text-20 mr-2 text-muted"
                    ></i
                    ><span class="item-name text-15 text-muted"
                      >Dashboard</span
                    ></a
                  >
                </li>
                <li class="Ul_li--hover">
                  <a class="has-arrow" href="#"
                    ><i class="i-Library text-20 mr-2 text-muted"></i
                    ><span class="item-name text-15 text-muted"
                      >TrackMe™</span
                    ></a
                  >
                  <ul class="mm-collapse">
                  
                    <li class="item-name">
                      <a href="{% url 'tracker:create_track' %}"
                        ><i class="nav-icon i-Cursor-Click"></i
                        ><span class="item-name">Manage Tracks</span></a
                      >
                    </li>
                  </ul>
                </li>
                <li class="Ul_li--hover">
                  <a class="has-arrow" href="#"
                    ><i class="i-Computer-Secure text-20 mr-2 text-muted"></i
                    ><span class="item-name text-15 text-muted"
                      >Pipeliner™</span
                    ></a
                  >
                  <ul class="mm-collapse">
                    
                    <li class="item-name">
                      <a href="{% url 'analyzer:tweet_processor' %}"
                        ><i class="nav-icon i-Receipt-4"></i
                        ><span class="item-name">Text Preprocessor</span></a
                      >
                    </li>
                  </ul>
                </li>
                <li class="Ul_li--hover">
                  <a class="has-arrow" href="#"
                    ><i class="i-Suitcase text-20 mr-2 text-muted"></i
                    ><span class="item-name text-15 text-muted"
                      >Reports</span
                    ></a
                  >
                  <ul class="mm-collapse">
                    <li class="item-name">
                      <a href="{% url 'analyzer:domain_entity_analysis' %}"
                        ><i class="nav-icon i-Crop-2"></i
                        ><span class="item-name">Network Analyzer</span></a
                      >
                    </li>
                    <li class="item-name">
                      <a href="{% url 'analyzer:comparisor' %}"
                        ><i class="nav-icon i-Loading-3"></i
                        ><span class="item-name">Comparisor</span></a
                      >
                    </li>
                    <li class="item-name">
                      <a href="{% url 'analyzer:deepdiver' %}"
                        ><i class="nav-icon i-Loading-3"></i
                        ><span class="item-name">Deep Diver</span></a
                      >
                    </li>
                    
                  </ul>
                </li>
                <li class="Ul_li--hover">
                  <a href="{% url 'accounts:looknfeel' %}"
                    ><i class="i-Safe-Box1 text-20 mr-2 text-muted"></i
                    ><span class="item-name text-15 text-muted"
                      >Look'n Feel™</span
                    ></a
                  >
                </li>

                <!--  <p class="main-menu-title text-muted ml-3 font-weight-700 text-13 mt-4 mb-2">UI Elements</p> -->
                
                <li class="Ul_li--hover">
                  <a href="{% url 'accounts:logout' %}"
                    ><i class="i-Safe-Box1 text-20 mr-2 text-muted"></i
                    ><span class="item-name text-15 text-muted">Logout</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="ps__rail-x" style="left: 0px; bottom: 0px">
            <div
              class="ps__thumb-x"
              tabindex="0"
              style="left: 0px; width: 0px"
            ></div>
          </div>
          <div class="ps__rail-y" style="top: 0px; height: 404px; right: 0px">
            <div
              class="ps__thumb-y"
              tabindex="0"
              style="top: 0px; height: 325px"
            ></div>
          </div>
          <div class="ps__rail-x" style="left: 0px; bottom: 0px">
            <div
              class="ps__thumb-x"
              tabindex="0"
              style="left: 0px; width: 0px"
            ></div>
          </div>
          <div class="ps__rail-y" style="top: 0px; height: 404px; right: 0px">
            <div
              class="ps__thumb-y"
              tabindex="0"
              style="top: 0px; height: 325px"
            ></div>
          </div>
        </div>
        <!--  side-nav-close -->
      </div>

      <div class="switch-overlay" ></div>
      <div class="main-content-wrap mobile-menu-content bg-off-white m-0" >
        <!-- ============ Body content start ============= -->

        {% block content %} {% endblock %}
      </div>
    </div>
    <!-- ============ Search UI End ============= -->
  </body>
</html>
