{% extends 'main.html' %} 

{% load static %} 



{% block content %}

 <!-- Resources -->
 <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
 <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
 <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

 <style>
      #retweet {
    width: 100%;
    height: 500px;
  }

  #mention {
    width: 100%;
    height: 500px;
  }

  #hashtag {
    width: 100%;
    height: 500px;
  }

  #entity {
    width: 100%;
    height: 500px;
  }

  #domain {
    width: 100%;
    height: 500px;
  }

  #annotation_persons {
    width: 100%;
    height: 500px;
  }

  #annotation_product {
    width: 100%;
    height: 500px;
  }

  #annotation_place {
    width: 100%;
    height: 500px;
  }

  #annotation_org {
    width: 100%;
    height: 500px;
  }

  #annotation_other {
    width: 100%;
    height: 500px;
  }

  #chartdiv_count {
    width: 100%;
    height: 500px;
  }

  #barem {
    width: 100%;
    height: 300px;
  }

  #tweet_pie_prev {
    width: 100%;
    height: 400px;
  }

  #tweet_pie_next {
    width: 100%;
    height: 400px;
  }

  #severity_prev {
    width: 100%;
    height: 500px;
  }

  #severity_next {
    width: 100%;
    height: 500px;
  }
 </style>

 <!-- Chart code -->
 <script>

    var mydata = $.ajax({
        type: 'POST',
        async: false,
        url: '{% url "analyzer:call_ajax" %}',
        dataType: 'json',
        data: {
            'which': 'get_dashboard_info'
        }
    }).responseJSON;
    
    for (var key in mydata){
        if(key != 'tweet_pie_prev' && key != 'tweet_pie_next' && key != 'trend' && key != 'polarity'){
            draw(mydata[key], key)
           
        }
       
        
    }



    draw_severity('prev')
    draw_severity('next')

    function draw_severity(what){
        var filtered = mydata['polarity']
        var filtered = filtered.filter(function(elem) {
            return elem['period'] == what;
        });

        var iconPath = "M53.5,476c0,14,6.833,21,20.5,21s20.5-7,20.5-21V287h21v189c0,14,6.834,21,20.5,21 c13.667,0,20.5-7,20.5-21V154h10v116c0,7.334,2.5,12.667,7.5,16s10.167,3.333,15.5,0s8-8.667,8-16V145c0-13.334-4.5-23.667-13.5-31 s-21.5-11-37.5-11h-82c-15.333,0-27.833,3.333-37.5,10s-14.5,17-14.5,31v133c0,6,2.667,10.333,8,13s10.5,2.667,15.5,0s7.5-7,7.5-13 V154h10V476 M61.5,42.5c0,11.667,4.167,21.667,12.5,30S92.333,85,104,85s21.667-4.167,30-12.5S146.5,54,146.5,42 c0-11.335-4.167-21.168-12.5-29.5C125.667,4.167,115.667,0,104,0S82.333,4.167,74,12.5S61.5,30.833,61.5,42.5z"

        var chart = am4core.create("severity_"+what, am4charts.SlicedChart);
        chart.hiddenState.properties.opacity = 0; // this makes initial fade in effect

        chart.data = filtered

        var series = chart.series.push(new am4charts.PictorialStackedSeries());
        series.dataFields.value = "total";
        series.dataFields.category = "severity";
        series.alignLabels = true;

        series.maskSprite.path = iconPath;
        series.ticks.template.locationX = 1;
        series.ticks.template.locationY = 0.5;

        series.labelsContainer.width = 200;

        series.colors.list = [
 
            am4core.color("#77DD76"),
            am4core.color("#BDE7BD"),
            am4core.color("#E7F1E8"),
            am4core.color("#FFD5D4"),
            am4core.color("#FFB6B3"),
            am4core.color("#FF6962"),

            ];
        chart.legend = new am4charts.Legend();
        chart.legend.position = "left";
        chart.legend.valign = "bottom";
    }






    function draw(the_data, div){
        am4core.useTheme(am4themes_animated);

        // Create chart instance
        var chart = am4core.create(div, am4charts.XYChart);

        // Add data
        chart.data = the_data

        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "object";
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.renderer.minGridDistance = 30;
categoryAxis.renderer.labels.template.horizontalCenter = "right";
categoryAxis.renderer.labels.template.verticalCenter = "middle";
categoryAxis.renderer.labels.template.rotation = 270;
categoryAxis.tooltip.disabled = true;
categoryAxis.renderer.minHeight = 110;

var  valueAxis = chart.yAxes.push(new am4charts.ValueAxis()); 
valueAxis.renderer.opposite = true;

// Create series
function createSeries(field, name) {
  var series = chart.series.push(new am4charts.ColumnSeries());
  series.dataFields.valueY = field;
  series.dataFields.categoryX = "object";
  series.name = name;
  series.columns.template.tooltipText = "{name}: {categoryX} [bold]{valueY}[/]";
 
 



 
}

createSeries("prev", "Previous");
createSeries("next", "Next");

 chart.legend = new am4charts.Legend();
chart.legend.useDefaultMarker = true;
    }

    



    draw_count();





    function draw_count()
  {
    
        // Create chart instance
      var chart = am4core.create("chartdiv_count", am4charts.XYChart);
      chart.scrollbarX = new am4core.Scrollbar();
      // Add data
      
     
      

      chart.data = mydata['trend']
      
      
      
      var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "key_formatted";
      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 5;
      categoryAxis.renderer.inversed = true;
      

      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.minWidth = 5;

      var valueAxis2 = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis2.title.text = "Type %";
      valueAxis2.renderer.opposite = true;
      valueAxis2.renderer.grid.template.disabled = true;

      // Create series
      var series = chart.series.push(new am4charts.ColumnSeries());
      series.sequencedInterpolation = true;
      series.dataFields.valueY = "total";
      series.yAxis = valueAxis;
      series.dataFields.categoryX = "key_formatted";
      series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
      series.columns.template.strokeWidth = 0;
      series.propertyFields.fill = am4core.color("#ff0000");


      var series2 = chart.series.push(new am4charts.LineSeries());
      series2.dataFields.valueY = "replied_to";
      series2.dataFields.categoryX = "key_formatted";
      series2.name = "replied_to";
      series2.strokeWidth = 2;
      series2.tensionX = 0.7;
      series2.yAxis = valueAxis2;
      series2.tooltipText = "{name}\n[bold font-size: 20]{valueY}[/]";

      var series3 = chart.series.push(new am4charts.LineSeries());
      series3.dataFields.valueY = "quoted";
      series3.dataFields.categoryX = "key_formatted";
      series3.name = "quoted";
      series3.strokeWidth = 2;
      series3.tensionX = 0.7;
      series3.yAxis = valueAxis2;
      series3.tooltipText = "{name}\n[bold font-size: 20]{valueY}[/]";

      var series4 = chart.series.push(new am4charts.LineSeries());
      series4.dataFields.valueY = "retweeted";
      series4.dataFields.categoryX = "key_formatted";
      series4.name = "retweeted";
      series4.strokeWidth = 2;
      series4.tensionX = 0.7;
      series4.yAxis = valueAxis2;
      series4.tooltipText = "{name}\n[bold font-size: 20]{valueY}[/]";

      var series5 = chart.series.push(new am4charts.LineSeries());
      series5.dataFields.valueY = "regular";
      series5.dataFields.categoryX = "key_formatted";
      series5.name = "regular";
      series5.strokeWidth = 2;
      series5.tensionX = 0.7;
      series5.yAxis = valueAxis2;
      series5.tooltipText = "{name}\n[bold font-size: 20]{valueY}[/]";



      

      series.tooltip.pointerOrientation = "vertical";

      
      series.columns.template.column.cornerRadiusTopLeft = 10;
      series.columns.template.column.cornerRadiusTopRight = 10;
      series.columns.template.column.fillOpacity = 0.8;
        
        // on hover, make corner radiuses bigger
        var hoverState = series.columns.template.column.states.create("hover");
        hoverState.properties.cornerRadiusTopLeft = 0;
        hoverState.properties.cornerRadiusTopRight = 0;
        hoverState.properties.fillOpacity = 1;

        
        series.columns.template.adapter.add("fill", (fill, target) => {
            if (target.dataItem.index < 25){
                return am4core.color('#6794dc')
            }
            else {
                return am4core.color('#67b7dc')
            }
        });
        // Cursor
        chart.cursor = new am4charts.XYCursor();
  }

    draw_pie('tweet_pie_prev')
    draw_pie('tweet_pie_next')

  function draw_pie(label){

    var chart = am4core.create(label, am4charts.PieChart);

            // Add data
            chart.data = mydata[label]

            // Add and configure Series
            var pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "retweet_cnt";
            pieSeries.dataFields.category = "object";

            // Let's cut a hole in our Pie chart the size of 40% the radius
            chart.innerRadius = am4core.percent(40);

            // Put a thick white border around each Slice
            pieSeries.slices.template.stroke = am4core.color("#4a2abb");
            pieSeries.slices.template.strokeWidth = 2;
            pieSeries.slices.template.strokeOpacity = 1;


            pieSeries.colors.list = [
  am4core.color("#bdd0c4"),
  am4core.color("#9ab7d3"),
  am4core.color("#f5d2d3"),
  am4core.color("#f7e1d3"),
  am4core.color("#dfccf1"),

];
            
            // Add a legend
            chart.legend = new am4charts.Legend();

  }


 </script>





<script>
  am4core.ready(function() {
  
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end
  
  // create chart
  var chart = am4core.create("barem", am4charts.GaugeChart);
  chart.innerRadius = am4core.percent(82);
  
  /**
   * Normal axis
   */
  
  var axis = chart.xAxes.push(new am4charts.ValueAxis());
  axis.min = 0;
  axis.max = 100;
  axis.strictMinMax = true;
  axis.renderer.radius = am4core.percent(80);
  axis.renderer.inside = true;
  axis.renderer.line.strokeOpacity = 1;
  axis.renderer.ticks.template.disabled = false
  axis.renderer.ticks.template.strokeOpacity = 1;
  axis.renderer.ticks.template.length = 10;
  axis.renderer.grid.template.disabled = true;
  axis.renderer.labels.template.radius = 40;
  axis.renderer.labels.template.adapter.add("text", function(text) {
    return text + "%";
  })
  
  /**
   * Axis for ranges
   */
  
  var colorSet = new am4core.ColorSet();
  
  var axis2 = chart.xAxes.push(new am4charts.ValueAxis());
  axis2.min = 0;
  axis2.max = 100;
  axis2.strictMinMax = true;
  axis2.renderer.labels.template.disabled = true;
  axis2.renderer.ticks.template.disabled = true;
  axis2.renderer.grid.template.disabled = true;
  
  var range0 = axis2.axisRanges.create();
  range0.value = 0;
  range0.endValue = 50;
  range0.axisFill.fillOpacity = 1;
  range0.axisFill.fill = colorSet.getIndex(0);
  
  var range1 = axis2.axisRanges.create();
  range1.value = 50;
  range1.endValue = 100;
  range1.axisFill.fillOpacity = 1;
  range1.axisFill.fill = colorSet.getIndex(2);
  
  /**
   * Label
   */
  
  var label = chart.radarContainer.createChild(am4core.Label);
  label.isMeasured = false;
  label.fontSize = 45;
  label.x = am4core.percent(50);
  label.y = am4core.percent(100);
  label.horizontalCenter = "middle";
  label.verticalCenter = "bottom";
  label.text = "50%";
  
  
  /**
   * Hand
   */
  
  var hand = chart.hands.push(new am4charts.ClockHand());
  hand.axis = axis2;
  hand.innerRadius = am4core.percent(20);
  hand.startWidth = 10;
  hand.pin.disabled = true;
  hand.value = 50;
  
  hand.events.on("propertychanged", function(ev) {
    range0.endValue = ev.target.value;
    range1.value = ev.target.value;
    label.text = axis2.positionToValue(hand.currentPosition).toFixed(1);
    axis2.invalidate();
  });
  
  setInterval(function() {
    var value = Math.round(Math.random() * 100);
    var animation = new am4core.Animation(hand, {
      property: "value",
      to: value
    }, 1000, am4core.ease.cubicOut).start();
  }, 2000);
  
  }); // end am4core.ready()
  </script>

  
<div class='row'>
<div class="col-md-3 col-lg-3">
  <div class="card mb-4 o-hidden">
      <div class="card-body ul-card__widget-chart" style="position: relative;">
          <div class="ul-widget__chart-info">
              <h5 class="heading"># OF CURRENT ACTIVE TRACKS</h5>
              <div class="ul-widget__chart-number">
                  <h2 class="t-font-boldest">10</h2><small class="text-muted">*0 if no active tracks</small>
              </div>
          </div>
    </div>
  </div>
</div>

<div class="col-md-3 col-lg-3">
  <div class="card mb-4 o-hidden">
      <div class="card-body ul-card__widget-chart" style="position: relative;">
          <div class="ul-widget__chart-info">
              <h5 class="heading"># OF CURRENT ACTIVE PROCESSORS</h5>
              <div class="ul-widget__chart-number">
                  <h2 class="t-font-boldest">10</h2><small class="text-muted">*0 if no active processors</small>
              </div>
          </div>
    </div>
  </div>
</div>

<div class="col-md-3 col-lg-3">
  <div class="card mb-4 o-hidden">
      <div class="card-body ul-card__widget-chart" style="position: relative;">
          <div class="ul-widget__chart-info">
              <h5 class="heading"># OF CURRENT ACTIVE TRACKS (YOURS)</h5>
              <div class="ul-widget__chart-number">
                  <h2 class="t-font-boldest">10</h2><small class="text-muted">*0 if no active tracks </small>
              </div>
          </div>
    </div>
  </div>
</div>

<div class="col-md-3 col-lg-3">
  <div class="card mb-4 o-hidden">
      <div class="card-body ul-card__widget-chart" style="position: relative;">
          <div class="ul-widget__chart-info">
              <h5 class="heading"># OF CURRENT ACTIVE PROCESSORS (YOURS)</h5>
              <div class="ul-widget__chart-number">
                  <h2 class="t-font-boldest">10</h2><small class="text-muted">*0 if no active processors</small>
              </div>
          </div>
    </div>
  </div>
</div>
</div>


<div class='row'>
  <div class="col-md-6">
      <div class="card mb-3">
          <div class="card-body">
              <div class="card-title mb-3"><h3><b>Fix the dashboard to this track</b></h3></div>
              <select name="tracker_dashboard" id="tracker_dashboard">Tracks</select>
              <button onclick='save_dashboard("tracker");'>Save This</button>
        </div>
      </div>
    </div>


 
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="card-title mb-3"><h3><b>Fix the dashboard to this processor</b></h3></div>
                <select name="processor_dashboard" id="processor_dashboard">Processors</select>
                <button onclick='save_dashboard("processor");'>Save This</button>
          </div>
        </div>
    </div>
  </div> 



<div class='row'>
  <div class="col-md-6">
      <div class="card mb-3">
          <div class="card-body">
              <div class="card-title mb-3"><h3><b>Track Completion Rate</b></h3></div>
          <div id="barem"></div>
        </div>
      </div>
    </div>


 
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="card-title mb-3"><h3><b>Processor Completion Rate</b></h3></div>
            <div id="barem"></div>
          </div>
        </div>
    </div>
  </div> 

<div id='row'>
<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3><b>Collected Tweets by Frequency Level (Last 50 collection point)</b></h3></div>
        <div id="chartdiv_count"></div>
      </div>
    </div>
</div>

<div class='row'>

<div class="col-sm-6">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3 style="color:#67b7dc"><b>Tweet Distribution Prev Period</b></h3></div>
        <div id="tweet_pie_prev"></div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3 style='color:#6794dc'><b>Tweet Distribution Next Period</b></h3></div>
        <div id="tweet_pie_next"></div>
        </div>
    </div>
</div>
 


<div class="col-lg-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3 style="color:#67b7dc"><b>Sentiment Distribution Prev Period</b></h3></div>
        <div id="severity_next"></div>
        </div>
    </div>
</div>
 


<div class="col-lg-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3 style='color:#6794dc'><b>Sentiment Distribution Next Period</b></h3></div>
        <div id="severity_prev"></div>
        </div>
    </div>
</div>
</div>

<hr class="rounded" style="border-top: 8px solid rgb(232, 180, 68); border-radius: 5px;">
<h2><b>The charts below illustrate the top 10 elements of corresponding dimensions for each period  </b></h2>
<hr class="rounded" style="border-top: 8px solid rgb(232, 180, 68); border-radius: 5px;">

<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3><b>Top 10 Retweeted Users by Periods</b></h3></div>
        <div id="retweet"></div>
      </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3><b>Top 10 Mentioned Users by Periods</b></h3></div>
        <div id="mention"></div>
      </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3><b>Top 10 Hashtags by Periods</b></h3></div>
        <div id="hashtag"></div>
      </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3><b>Top 10 Entities by Periods</b></h3></div>
        <div id="entity"></div>
      </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3><b>Top 10 Domains by Periods</b></h3></div>
        <div id="domain"></div>
      </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3><b>Top 10 Annotations(Product) by Periods</b></h3></div>
        <div id="annotation_product"></div>
      </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3><b>Top 10 Annotations(Place) by Periods</b></h3></div>
        <div id="annotation_place"></div>
      </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3><b>Top 10 Annotations(Person) by Periods</b></h3></div>
        <div id="annotation_persons"></div>
      </div>
    </div>
</div>


<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3><b>Top 10 Annotations(Organization) by Periods</b></h3></div>
        <div id="annotation_org"></div>
      </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <div class="card-title mb-3"><h3><b>Top 10 Annotations(Other) by Periods</b></h3></div>
        <div id="annotation_other"></div>
      </div>
    </div>
</div>
</div>





<script>

        var tracks = $.ajax({
        type: 'POST',
        async: false,
        url: '{% url "analyzer:get_tracks" %}',
        dataType: 'json'
        }).responseJSON;


        var processors = $.ajax({
        type: 'POST',
        async: false,
        url: '{% url "analyzer:call_ajax" %}',
        dataType: 'json',
        data: {
            'which': 'get_processors'
            }
        }).responseJSON;

        var tracker_dashboard = document.getElementById("tracker_dashboard"); 
        var processor_dashboard = document.getElementById("processor_dashboard"); 

   
        for(a=0; a<tracks.length; a++){
          var el = document.createElement("option");
              el.textContent = tracks[a][1];
              el.value = tracks[a][1];
              tracker_dashboard.appendChild(el);
        }



        for(a=0; a<processors.length; a++){
          var el = document.createElement("option");
              el.textContent = tracks[a][1];
              el.value = tracks[a][1];
              processor_dashboard.appendChild(el);
        }


        function save_dashboard(which){
          _track = ''
          _processor = ''
          if(which == 'tracker'){
            _track = document.getElementById("tracker_dashboard").value; 
            if(_track == ''){
              alert('Please select a tracker')
            } else {
              var tracks = $.ajax({
                                    type: 'POST',
                                    async: false,
                                    url: '{% url "analyzer:save_dashboard" %}',
                                    dataType: 'json',
                                    data: {'track': _track, 'which': 'track'}
                                    }).responseJSON;
            }
          } else {
            _processor = document.getElementById("processor_dashboard").value; 
            if(_processor == ''){
              alert('Please select a processor')
            } else {
              var tracks = $.ajax({
                                    type: 'POST',
                                    async: false,
                                    url: '{% url "analyzer:save_dashboard" %}',
                                    dataType: 'json',
                                    data: {'processor': _processor, 'which': 'processor'}
                                    }).responseJSON;
            }
          }
        }
        
  
</script>

















{% endblock %}
</div>

