{% extends 'main.html' %} 

{% load static %} 



{% block content %}

<link rel="stylesheet" href="{% static 'dist-assets/css/plugins/smart.wizard/smart_wizard.min.css' %}"/> 
<link rel="stylesheet" href="{% static 'dist-assets/css/plugins/smart.wizard/smart_wizard_theme_arrows.min.css' %}"/> 
<link rel="stylesheet" href="{% static 'dist-assets/css/plugins/smart.wizard/smart_wizard_theme_circles.min.css' %}" />
<link rel="stylesheet" href="{% static 'dist-assets/css/plugins/smart.wizard/smart_wizard_theme_dots.min.css' %}" />



{% csrf_token %} 


 
            <!--  SmartWizard html -->
            <div id="smartwizard" class="sw-main sw-theme-default" >
                <ul class="nav nav-tabs step-anchor">
                    <li class="nav-item active"><a href="#step-1" class="nav-link">Step 1<br><small>This is step description</small></a></li>
                    <li class="nav-item"><a href="#step-2" class="nav-link">Step 2<br><small>This is step description</small></a></li>
                    <li class="nav-item"><a href="#step-3" class="nav-link">Step 3<br><small>This is step description</small></a></li>
                    <li class="nav-item"><a href="#step-4" class="nav-link" >Step 4<br><small>This is step description</small></a></li>
                    <li class="nav-item"><a href="#step-5" class="nav-link" >Step 5<br><small>Exclude these objects</small></a></li>
                    <li class="nav-item" style='display: none;' id ='processor_selector'><a href="#step-6" class="nav-link">Step 6<br><small>This is step description</small></a></li>
                   
                </ul>
                <div>
                    <div id="step-1">
                        <h3 class="border-bottom border-gray pb-2">Select a data source below</h3>
                            <table id="example4" class="display" cellspacing="0" width="100%" >
                                <thead>
                                   <tr>
                                      <th></th>
                                      <th>query_name</th>
                                      <th>query</th>
                                      <th>frequency_level1</th>
                                      <th>frequency_level2</th>
                                      <th>fetch_size</th>
                                   </tr>
                                </thead>
                                <tfoot>
                                   <tr>
                                      <th></th>
                                      <th>query_name</th>
                                      <th>query</th>
                                      <th>frequency_level1</th>
                                      <th>frequency_level2</th>
                                      <th>fetch_size</th>
                                   </tr>
                                </tfoot>
                             </table>
                    </div>
                    <div id="step-2" >
                        <h3 class="border-bottom border-gray pb-2">Step 2 Content</h3>
                         <button   onclick='step_first();'>Get collected dates</button>
                         <select name="date_start" id="selectStartDate"></select>
                         <select name="date_end" id="selectEndDate"></select>
                    </div>
                    <div id="step-3"  >
                        <h3 class="border-bottom border-gray pb-2">Step 3 Content</h3>
                        
                        <table id="domain_table" class="display" cellspacing="0" width="100%">
                            <thead>
                               <tr>
                                  <th></th>
                                  <th>Domain</th>
                                  <th>Desc</th>
                               </tr>
                            </thead>
                            <tfoot>
                               <tr>
                                  <th></th>
                                  <th>Domain</th>
                                  <th>Desc</th>
                               </tr>
                            </tfoot>
                         </table>
                    </div>
                    <div id="step-4"  >
                        <h3 class="border-bottom border-gray pb-2">Step 4 Content</h3>
                        
                        <label class="radio radio-primary">
                            <input type="radio" name="node_level" value="domain" onclick="show_processor_pane('no')"><span>Domain</span><span class="checkmark"></span>
                        </label>
                        <label class="radio radio-primary">
                            <input type="radio" name="node_level" value="entity" onclick="show_processor_pane('no')"><span>Entity</span><span class="checkmark"></span>
                        </label>
                        <label class="radio radio-primary">
                            <input type="radio" name="node_level" value="hashtag" onclick="show_processor_pane('no')"><span>Hashtag</span><span class="checkmark"></span>
                        </label>
                        <label class="radio radio-primary">
                            <input type="radio" name="node_level" value="mention" onclick="show_processor_pane('no')"><span>Mention</span><span class="checkmark"></span>
                        </label>
                        <label class="radio radio-primary">
                            <input type="radio" name="node_level" value="mention_cooccurrence" onclick="show_processor_pane('no')"><span>Mention Cooccurence</span><span class="checkmark"></span>
                        </label>
                        <label class="radio radio-primary">
                            <input type="radio" name="node_level" value="bigram" onclick="show_processor_pane('processor')"><span>Bigrams</span><span class="checkmark"></span>
                        </label>
                        <b>Get Top N most frequent:</b>
                        <input type='text' id='top_n'></input>
                 
                       
                    </div>
                    <div id="step-5"  >
                        <h3><b>Exclude those objects (seperated by comma): </b></h3>
                        <textarea id="excluded_terms" name="w3review" rows="4" cols="100"></textarea>
                    </div>
                    <div id="step-6"  >
                        <table id="processor_table" class="display" cellspacing="0" width="100%" >
                            <input type="hidden"  id='dummy' name='dummy'></input>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Tracker</th>
                                    <th>Stopwords</th>
                                    <th>Corrections</th>
                                    <th>Preproc</th>
                                    <th>NLP</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Tracker</th>
                                    <th>Stopwords</th>
                                    <th>Corrections</th>
                                    <th>Preproc</th>
                                    <th>NLP</th>
                                    <th>Status</th>
                                </tr>
                            </tfoot>
                            </table>
                    </div>
                </div>
            </div>
    



<button class="btn btn-primary btn-block mb-3" id="alert-success" type="button" onclick="deneme2();">Analyze</button>


<script src="{% static 'dist-assets/js/plugins/jquery.smartWizard.min.js' %}"></script>
<script src="{% static 'dist-assets/js/scripts/smart.wizard.script.min.js' %}"></script>







<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

<script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />






<style>
    #mynetwork {
    width: 100%;
    height: 900px;
    border: 1px solid lightgray;
    }

    div.vis-network {
    background-color: rgb(228, 228, 228);
  }

  #chartdiv_count {
    width: 100%;
    height: 600px;
  }

  #chartdiv_count2 {
    width: 100%;
    height: 600px;
  }

  #chartdiv_count3 {
    width: 100%;
    height: 600px;
  }

  #chartdiv_count4 {
    width: 100%;
    height: 600px;
  }

</style>
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>










    <script>
 
        function show_processor_pane(x){
            el = document.getElementById('processor_selector')
            if (x == "processor") {
                el.style.display = "block";
            } else {
                el.style.display = "none";
            }
        }

        var processors = $.ajax({
            type: 'POST',
            async: false,
            url: '{% url "analyzer:call_ajax" %}',
            dataType: 'json',
            data: {
                'which': 'get_processors'
            }
        }).responseJSON;


        var table_processor = $('#processor_table').DataTable({
            data: processors,
            'destroy': true,
            'columnDefs': [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    }
                }
            ],
            'select': {
                'style': 'multi'
            },
            'order': [[1, 'asc']]
        });
 
        var tracks = $.ajax({
            type: 'POST',
            async: false,
            url: '{% url "analyzer:get_tracks" %}',
            dataType: 'json'
            
        }).responseJSON;

        var domains = $.ajax({
            type: 'POST',
            async: false,
            url: '{% url "analyzer:call_ajax" %}',
            dataType: 'json',
            data: {'which':'get_domains'}
            
        }).responseJSON;


        
        var table_track = $('#example4').DataTable({
            data: tracks,

            'columnDefs': [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    }
                }
            ],
            'select': {
                'style': 'multi'
            },
            'order': [[1, 'asc']]
        });

        var table_domain = $('#domain_table').DataTable({
            data: domains,

            'columnDefs': [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    }
                }
            ],
            'select': {
                'style': 'multi'
            },
            'order': [[1, 'asc']]
        });

        
        

        function step_first(){
            var rows_selected = table_track.column(0).checkboxes.selected();
            
            // Iterate over all selected checkboxes
            if(rows_selected.length > 0){
                var arr = []
                $.each(rows_selected, function(index, rowId){arr.push(rowId)});
                var dates = $.ajax({
                    type: 'POST',
                    async: false,
                    url: '{% url "analyzer:call_ajax" %}',
                    dataType: 'json',
                    data: {'which':'entity_domain_get_dates',
                           'data_sources': arr.toString()
                          }
                    
                }).responseJSON;
                 

                var start_date = document.getElementById("selectStartDate"); 
                var end_date = document.getElementById("selectEndDate"); 

                for (i = start_date.length-1; i >= 0; i--) {
                    start_date.options[i] = null;
                    end_date.options[i] = null;
                    }

                $.each(dates['dates'], function(i, p) {
                    var el = document.createElement("option");
                    el.textContent = p;
                    el.value = p;
                    start_date.appendChild(el);
        
                });

                $.each(dates['dates'], function(i, p) {
                    var el = document.createElement("option");
                    el.textContent = p;
                    el.value = p;
                    end_date.appendChild(el);
        
                });
            } else {
                alert('Please select a data source first!');
            }
            
        }
    
        

        function deneme2(){
             
            
            var track_selected = table_track.column(0).checkboxes.selected();
            var domain_selected = table_domain.column(0).checkboxes.selected();
            var arr = [];
            var arr2 = []
            $.each(track_selected, function(index, rowId){arr.push(rowId)});
            $.each(domain_selected, function(index, rowId){arr2.push(rowId)});
            var start_date = document.getElementById("selectStartDate").value; 
            var end_date = document.getElementById("selectEndDate").value; 
            var node_level = document.querySelector('input[name="node_level"]:checked').value;
            var excluded_terms = document.getElementById('excluded_terms').value;
            
            alert([arr, arr2, start_date, end_date, node_level, excluded_terms])

            //draw_graph_fancy(arr, arr2);
        
            var all_data = $.ajax({
                type: 'POST',
                async: false,
                url: '{% url "analyzer:call_ajax" %}',
                dataType: 'json',
                data: {'which':'get_network_data',
                        'track':arr.toString(),
                        'domain':arr2.toString(),
                        'start_date':start_date,
                        'end_date':end_date,
                        'node_level':node_level,
                        'processor': document.getElementById('dummy').value,
                        'top_n': document.getElementById('top_n').value,
                        'excluded_terms': excluded_terms
                        }
                
            }).responseJSON;

            var results = document.getElementById('results')
            results.innerText = ''

            //$.each( all_data['degree_centrality'], function(index, rowId){ results.innerText = results.innerText +'\n Degre -> Edge: ' + index +', value: '+ rowId});
            //$.each( all_data['betweenness_centrality'], function(index, rowId){ results.innerText = results.innerText +'\n Betweenness -> Edge: ' + index +', value: '+ rowId});

            draw_count(all_data)
            
            
            var nodes = null;
            var edges = null;
            var network = null;


            function draw(node_level) {
            // create people.
            // value corresponds with the age of the person
            nodes = all_data['data2']

            // create connections between people
            // value corresponds with the amount of contact between two people
            edges = all_data['data']

            // Instantiate our network object.
            var container = document.getElementById("mynetwork");
            var data = {
                nodes: nodes,
                edges: edges,
            };
            var options = {
                nodes: {
                    shape: "dot",
                    scaling: {
                        customScalingFunction: function (min, max, total, value) {
                        return value / total;
                        },
                        min: 5,
                        max: 150,
                    },
                },
                physics: {
                    stabilization: true
                },
                
                edges: {
                    font: {
                        align: "top"
                    },
                    smooth: {
                        type: "dynamic",
                        forceDirection: "horizontal",
                        roundness: 0.0
                    }
                },
            };
            if(node_level == 'mention'){
                options['edges']['arrows'] = {to: { enabled: true, scaleFactor: 1, type: "arrow" }}
            } 

            network = new vis.Network(container, data, options);
            network.on("stabilizationIterationsDone", function (params) {
                network.stopSimulation();
                network.setOptions( { physics: false } );
            });
            
            network.stabilize(1000); 
            }

            draw(node_level);


        }
 

        
        $('#processor_table tbody').on('change', 'input[type="checkbox"]', function() {
        arr_selected_procs = []
        
        var rows_selected = table_processor.column(0).checkboxes.selected();
        document.getElementById('dummy').value =''
        $.each(rows_selected, function(index, rowId){arr_selected_procs.push(rowId);  document.getElementById('dummy').value = document.getElementById('dummy').value + ','+rowId});
        document.getElementById('dummy').value = document.getElementById('dummy').value.slice(1,)
        });

        function draw_count(all_data)
  {
    
        // Create chart instance
        var chart = am4core.create("chartdiv_count", am4charts.XYChart);
      var chart2 = am4core.create("chartdiv_count2", am4charts.XYChart);
      var chart3 = am4core.create("chartdiv_count3", am4charts.XYChart);
      var chart4 = am4core.create("chartdiv_count4", am4charts.XYChart);

      chart.scrollbarX = new am4core.Scrollbar();
      // Add data
      
      chart.data =eval(all_data['degree_df'])
      alert(eval(chart.data))
      var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "label";
      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 5;

      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.minWidth = 5;

      // Create series
      var series = chart.series.push(new am4charts.ColumnSeries());
      series.sequencedInterpolation = true;
      series.dataFields.valueY = "value";
      series.dataFields.categoryX = "label";
      series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
      series.columns.template.strokeWidth = 0;

      series.tooltip.pointerOrientation = "vertical";

      series.columns.template.column.cornerRadiusTopLeft = 10;
      series.columns.template.column.cornerRadiusTopRight = 10;
      series.columns.template.column.fillOpacity = 0.8;
        
        // on hover, make corner radiuses bigger
        var hoverState = series.columns.template.column.states.create("hover");
        hoverState.properties.cornerRadiusTopLeft = 0;
        hoverState.properties.cornerRadiusTopRight = 0;
        hoverState.properties.fillOpacity = 1;

        series.columns.template.adapter.add("fill", function(fill, target) {
          return chart.colors.getIndex(target.dataItem.index);
        });

        // Cursor
        chart.cursor = new am4charts.XYCursor();






        chart2.scrollbarX = new am4core.Scrollbar();
      // Add data
      
      chart2.data =eval(all_data['bet_df'])
      var categoryAxis = chart2.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "label";
      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 5;

      var valueAxis = chart2.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.minWidth = 5;

      // Create series
      var series = chart2.series.push(new am4charts.ColumnSeries());
      series.sequencedInterpolation = true;
      series.dataFields.valueY = "value";
      series.dataFields.categoryX = "label";
      series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
      series.columns.template.strokeWidth = 0;

      series.tooltip.pointerOrientation = "vertical";

      series.columns.template.column.cornerRadiusTopLeft = 10;
      series.columns.template.column.cornerRadiusTopRight = 10;
      series.columns.template.column.fillOpacity = 0.8;
        
        // on hover, make corner radiuses bigger
        var hoverState = series.columns.template.column.states.create("hover");
        hoverState.properties.cornerRadiusTopLeft = 0;
        hoverState.properties.cornerRadiusTopRight = 0;
        hoverState.properties.fillOpacity = 1;

        series.columns.template.adapter.add("fill", function(fill, target) {
          return chart2.colors.getIndex(target.dataItem.index);
        });

        // Cursor
        chart2.cursor = new am4charts.XYCursor();








        chart3.scrollbarX = new am4core.Scrollbar();
      // Add data
      
      chart3.data =eval(all_data['ieg_df'])
      var categoryAxis = chart3.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "label";
      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 5;

      var valueAxis = chart3.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.minWidth = 5;

      // Create series
      var series = chart3.series.push(new am4charts.ColumnSeries());
      series.sequencedInterpolation = true;
      series.dataFields.valueY = "value";
      series.dataFields.categoryX = "label";
      series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
      series.columns.template.strokeWidth = 0;

      series.tooltip.pointerOrientation = "vertical";

      series.columns.template.column.cornerRadiusTopLeft = 10;
      series.columns.template.column.cornerRadiusTopRight = 10;
      series.columns.template.column.fillOpacity = 0.8;
        
        // on hover, make corner radiuses bigger
        var hoverState = series.columns.template.column.states.create("hover");
        hoverState.properties.cornerRadiusTopLeft = 0;
        hoverState.properties.cornerRadiusTopRight = 0;
        hoverState.properties.fillOpacity = 1;

        series.columns.template.adapter.add("fill", function(fill, target) {
          return chart3.colors.getIndex(target.dataItem.index);
        });

        // Cursor
        chart3.cursor = new am4charts.XYCursor();








        chart4.scrollbarX = new am4core.Scrollbar();
      // Add data
      
      chart4.data =eval(all_data['clus_df'])
      var categoryAxis = chart4.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "label";
      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 5;

      var valueAxis = chart4.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.minWidth = 5;

      // Create series
      var series = chart4.series.push(new am4charts.ColumnSeries());
      series.sequencedInterpolation = true;
      series.dataFields.valueY = "value";
      series.dataFields.categoryX = "label";
      series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
      series.columns.template.strokeWidth = 0;

      series.tooltip.pointerOrientation = "vertical";

      series.columns.template.column.cornerRadiusTopLeft = 10;
      series.columns.template.column.cornerRadiusTopRight = 10;
      series.columns.template.column.fillOpacity = 0.8;
        
        // on hover, make corner radiuses bigger
        var hoverState = series.columns.template.column.states.create("hover");
        hoverState.properties.cornerRadiusTopLeft = 0;
        hoverState.properties.cornerRadiusTopRight = 0;
        hoverState.properties.fillOpacity = 1;

        series.columns.template.adapter.add("fill", function(fill, target) {
          return chart4.colors.getIndex(target.dataItem.index);
        });

        // Cursor
        chart4.cursor = new am4charts.XYCursor();
  }

    </script>





<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
          
            <div id="mynetwork"></div>
            <div id="results"></div>
            <h1>Degree Centralities</h1>
            <div id="chartdiv_count"></div>
            <h1>Betweenness Centralities</h1>
            <div id="chartdiv_count2"></div>
            <h1>Eigenvector Centralities</h1>
            <div id="chartdiv_count3"></div>
            <h1>Clustering Coefficients</h1>
            <div id="chartdiv_count4"></div>
        </div>
    </div>
</div>










<!-- Styles -->
<style>
    #chartdiv5 {
      width: 100%;
    height:550px;
    max-width:100%;
    background: rgb(18, 27, 95);
    }
    </style>
    
    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    
    <!-- Chart code -->
    <script>
    function draw_graph_fancy(arr,arr2) {
    
    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end
    
    
    
    var chart = am4core.create("chartdiv5", am4plugins_forceDirected.ForceDirectedTree);
    var networkSeries = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())
    
    chart.data = $.ajax({
            type: 'POST',
            async: false,
            url: '{% url "analyzer:call_ajax" %}',
            dataType: 'json',
            data: {'which':'domain_top_entities_graph', 
                   'track': arr.toString(),
                   'domain': arr2.toString()}
            
        }).responseJSON;
    
    networkSeries.dataFields.value = "value";
    networkSeries.dataFields.name = "name";
    networkSeries.dataFields.children = "children";
    networkSeries.nodes.template.tooltipText = "{name}:{value}";
    networkSeries.nodes.template.fillOpacity = 1;
    
    networkSeries.nodes.template.label.text = "{name}"
    networkSeries.fontSize = 10;
    
    networkSeries.links.template.strokeWidth = 1;
    
    var hoverState = networkSeries.links.template.states.create("hover");
    hoverState.properties.strokeWidth = 3;
    hoverState.properties.strokeOpacity = 1;
    
    networkSeries.nodes.template.events.on("over", function(event) {
      event.target.dataItem.childLinks.each(function(link) {
        link.isHover = true;
      })
      if (event.target.dataItem.parentLink) {
        event.target.dataItem.parentLink.isHover = true;
      }
    
    })
    
    networkSeries.nodes.template.events.on("out", function(event) {
      event.target.dataItem.childLinks.each(function(link) {
        link.isHover = false;
      })
      if (event.target.dataItem.parentLink) {
        event.target.dataItem.parentLink.isHover = false;
      }
    })
    
    }; // end am4core.ready()
    </script>
    
   

{% endblock %}
</div>

