{% extends 'main.html' %} 

{% load static %} 



{% block content %}

<link rel="stylesheet" href="/static/dist-assets/css/plugins/smart.wizard/smart_wizard.min.css" />
<link rel="stylesheet" href="/static/dist-assets/css/plugins/smart.wizard/smart_wizard_theme_arrows.min.css" />
<link rel="stylesheet" href="/static/dist-assets/css/plugins/smart.wizard/smart_wizard_theme_circles.min.css" />
<link rel="stylesheet" href="/static/dist-assets/css/plugins/smart.wizard/smart_wizard_theme_dots.min.css" />


{% csrf_token %} 


<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <!--  SmartWizard html -->
            <div id="smartwizard" class="sw-main sw-theme-default" >
                <ul class="nav nav-tabs step-anchor">
                    <li class="nav-item active"><a href="#step-1" class="nav-link">Step 1<br><small>Data Source Selection</small></a></li>
                    <li class="nav-item"><a href="#step-2" class="nav-link">Step 2<br><small>Preprocessing Options</small></a></li>
                    <li class="nav-item"><a href="#step-3" class="nav-link">Step 3<br><small>Stopwords Options</small></a></li>
                    <li class="nav-item"><a href="#step-4" class="nav-link">Step 4<br><small>Custom Word Corrections</small></a></li>
                    <li class="nav-item"><a href="#step-5" class="nav-link">Step 5<br><small>Give a name to processor</small></a></li>
                </ul>
                <div>
                    <div id="step-1">
                        <h3 class="border-bottom border-gray pb-2"><b>Select a data source below</b></h3>
                            <table id="tracker_table" class="display" cellspacing="0" width="100%" >
                                <thead>
                                   <tr>
                                      <th></th>
                                      <th>query_name</th>
                                      <th>query</th>
                                      <th>frequency_level1</th>
                                      <th>frequency_level2</th>
                                      <th>fetch_size</th>
                                   </tr>
                                </thead>
                                <tfoot>
                                   <tr>
                                      <th></th>
                                      <th>query_name</th>
                                      <th>query</th>
                                      <th>frequency_level1</th>
                                      <th>frequency_level2</th>
                                      <th>fetch_size</th>
                                   </tr>
                                </tfoot>
                             </table>
                    </div>
                    <div id="step-2" class='row'>
                        <h3 class="border-bottom border-gray pb-2"><b>Select Preprocessing Options</b></h3>
                         
                      
                        <div class="card-body">
                            <div class="card-title mb-3">Form Inputs</div>
                            <form>
                                <div class="row">
                                    <div class="col-md-6 form-group mb-3">
                                        <label class="checkbox checkbox-primary" >
                                            <input type="checkbox" checked="checked" name='processing_options' class ='preproc' value='remove_stop_words'><span>Remove Stop Words</span><span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label class="checkbox checkbox-primary" >
                                            <input type="checkbox" checked="checked" name='processing_options' class ='preproc' value='remove_punc'> <span>Remove Punctuation, Emojis, and Smiley</span><span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label class="checkbox checkbox-primary" >
                                            <input type="checkbox" checked="checked" name='processing_options' class ='preproc' value='remove_urls'><span>Remove URLs</span><span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label class="checkbox checkbox-primary" >
                                            <input type="checkbox" checked="checked" name='processing_options' class ='preproc' value='remove_hashtags'><span>Remove Hashtags</span><span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label class="checkbox checkbox-primary" >
                                            <input type="checkbox" checked="checked" name='processing_options' class ='preproc' value='remove_mentions'>><span>Remove Mentions</span><span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label class="checkbox checkbox-primary" >
                                            <input type="checkbox" checked="checked" name='processing_options' class ='preproc' value='remove_reserved'><span>Remove Reserved words (RT, FAV)</span><span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label class="checkbox checkbox-primary" >
                                            <input type="checkbox" checked="checked" name='processing_options' class ='preproc' value='remove_numbers'><span>Remove Numbers</span><span class="checkmark"></span>
                                        </label>
                                    </div>
                                     
                        
                                </div>
                            </form>
                        </div>
                        
                    </div>
                 
                    <div id="step-3"  >
                        <h3 class="border-bottom border-gray pb-2"><b>Select Stopword List</b></h3>
                        
                        <div class="card-body">
                            
                            <form>
                                <div class="row">
                                    <div class="col-md-8 form-group mb-3">
                                        <label class="checkbox checkbox-primary" >
                                            <textarea id="stopwords" name="w3review" rows="20" cols="100"></textarea>
                                        </label>
                                    </div>

                                    <div class="col-md-4 form-group mb-3">
                                        
                                            Select a stopword source:
                                            <select name="stopwords_selection" id="stopword_list" onChange='load_selected_stopword();'></select>
                                              
                                            <button class="btn btn-primary ripple m-1" type="button" id='savesame' onclick="save_stopwords();">Save As New Source</button>
                                              
                                            <input type='text' id='stopword_file_name'></label>
                                              
                                         
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="step-4"  >
                        
                        
                        <h3 class="border-bottom border-gray pb-2"><b>Select Customer Correction List</b></h3>
                        
                        <div class="card-body">
                            
                            <form>
                                <div class="row">
                                    <div class="col-md-8 form-group mb-3">
                                        <label class="checkbox checkbox-primary" >
                                            <textarea id="corrections" name="w3review" rows="20" cols="100"></textarea>
                                        </label>
                                    </div>

                                    <div class="col-md-4 form-group mb-3">
                                        
                                            Select a stopword source:
                                            <select name="stopwords_selection" id="correction_list" onChange='load_selected_correction();'></select>
                                              
                                            <button class="btn btn-primary ripple m-1" type="button" id='savesame' onclick="save_corrections();">Save As New Source</button>
                                              
                                            <input type='text' id='corrections_file_name'></label>
                                              
                                         
                                    </div>

                                </div>
                            </form>
                        </div>
                        
                    </div>

                    <div id="step-5"  >
                        <h3 class="border-bottom border-gray pb-2"><b>Give a glorious name to the processor</b></h3>
                        Call my Glorious Processor: <input type="text" id = 'glorious_name'></input>
                       
                    </div>


                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-block mb-3" id="alert-success" type="button" onclick="analyze();">Create Processor Task</button>

    </div>
    
</div>

    






<div class="col-md-12" >
    <div class="card mb-4" id = 'deneme_renk'>
        <div class="card-body" >
            <div class="card-title mb-3"><h1><b>My Processors</b></h1></div>
            <table id="processors" class="display" cellspacing="0" width="100%" >
                <thead>
                    <tr>
                        <th></th>
                        <th>name</th>
                        <th>tracker</th>
                        <th>stopwords</th>
                        <th>corrections</th>
                        <th>preproc</th>
                        <th>is_active</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>name</th>
                        <th>tracker</th>
                        <th>stopwords</th>
                        <th>corrections</th>
                        <th>preproc</th>
                        <th>is_active</th>
                    </tr>
                </tfoot>
                </table>
      
              
        </div>
        <div class='row'>
            <div class="col-md-6">
                <button class="btn btn-primary btn-block mb-3" id="alert-success" type="submit" onclick="analyze_processor();">Analyze Selected Processor</button>
           </div>
            <div class="col-md-6">
                <form action="{% url 'analyzer:tweet_preprocessor_delete' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden"  id='dummy' name='dummy'></input>
                    <button class="btn btn-danger btn-block mb-3" id="alert-success" type="submit" name = 'btn' onclick="delete_processors();">Delete Selected Processors</button>
                    <div>{{ result }}</div>
                </form>
            </div>
            
        </div>
    </div>
</div>







<div class='row'>
<div class="col-md-6">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3"><h1><b>Word Counts</b></h1></div>
            <table id="word_counts" class="display" cellspacing="0" width="100%" >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Word</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Word</th>
                        <th>Count</th>
                    </tr>
                </tfoot>
                </table>
      
              
        </div>
        

    </div>
</div>


<div class="col-md-6">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3"><h1><b>Bi-gram Counts</b></h1></div>
            <table id="bigrams" class="display" cellspacing="0" width="100%" >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phrase</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Phrase</th>
                        <th>Count</th>
                    </tr>
                </tfoot>
                </table>
      
              
        </div>
        

    </div>
</div>
</div>

<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

<script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />

<script src="/static/dist-assets/js/plugins/jquery.smartWizard.min.js"></script>
<script src="/static/dist-assets/js/scripts/smart.wizard.script.min.js"></script>


<style>
  

    #savesame,
    #saveas {
        float: left;
        width: 50%;
   
    }
    </style>


<script>


    var processors = $.ajax({
            type: 'POST',
            async: false,
            url: '{% url "analyzer:call_ajax" %}',
            dataType: 'json',
            data: {
                'which': 'get_processors'
            }
    }).responseJSON;


    var table_processor = $('#processors').DataTable({
        data: processors,
        
        'columnDefs': [
            {
                'targets': 0,
                'checkboxes': {
                    'selectRow': true
                }
            }
        ],
        'select': {
            'style': 'multi'
        },
        'order': [[1, 'asc']]
    });

    var arr_selected_procs = []

    

    $('#processors tbody').on('change', 'input[type="checkbox"]', function() {
        arr_selected_procs = []
        console.log('suggested-in-comment', 'click');
        var rows_selected = table_processor.column(0).checkboxes.selected();
        document.getElementById('dummy').value =''
        $.each(rows_selected, function(index, rowId){arr_selected_procs.push(rowId);  document.getElementById('dummy').value = document.getElementById('dummy').value + ','+rowId});
        document.getElementById('dummy').value = document.getElementById('dummy').value.slice(1,)
    });

 
    
    function analyze_processor(){
        if(arr_selected_procs.length != 1){
            alert('Please select only one processor')
        } else {
            selected = document.getElementById('dummy').value
            var word_counts = $.ajax({
                    type: 'POST',
                    async: false,
                    url: '{% url "analyzer:call_ajax" %}',
                    dataType: 'json',
                    data: {
                        'which': 'get_word_freqs_and_bigrams_for_check',
                        'selected': selected
                    }
            }).responseJSON;
            alert(selected)
            var table_processor = $('#word_counts').DataTable({
                data: word_counts['word_count'],
                'destroy': true,
                'order': [[2, 'desc']]
            });


            var table_bigram = $('#bigrams').DataTable({
                data: word_counts['bigram'],
                'destroy': true,
                'order': [[2, 'desc']]
            });
        }

    
    }




    

</script>

<script>
 
 var tracks = $.ajax({
        type: 'POST',
        async: false,
        url: '{% url "analyzer:get_tracks" %}',
        dataType: 'json'
        
    }).responseJSON;


    var table_track = $('#tracker_table').DataTable({
            data: tracks,

            'columnDefs': [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    }
                }
            ],
            'select': {
                'style': 'multi'
            },
            'order': [[1, 'asc']]
        });
    
    function analyze(){

        glorious_name = document.getElementById('glorious_name').value;

        var check_for_duplicate_name = $.ajax({
            type: 'POST',
            async: false,
            url: '{% url "analyzer:call_ajax" %}',
            dataType: 'json',
            data: {
                'which': 'processor_name_checker',
                'name': glorious_name
            }
            
        }).responseJSON;

        if(check_for_duplicate_name['status'] == 0 || glorious_name == ''){
            alert('Name is either empty of there is already a process with the same name. Change process name in Step 6.')
        } else {
            var arr = []
            var rows_selected = table_track.column(0).checkboxes.selected();
            $.each(rows_selected, function(index, rowId){arr.push(rowId)});
            

            var arr_preproc = []
            $('input.preproc:checkbox:checked').each(function () {
                arr_preproc.push($(this).val());
            });
        

        

            stopwords = document.getElementById('stopword_list').value
            corrections = document.getElementById('correction_list').value
            
            var tracks = $.ajax({
                type: 'POST',
                async: false,
                url: '{% url "analyzer:call_ajax" %}',
                dataType: 'json',
                data: {
                    'which': 'sentiment_analyzer',
                    'name': glorious_name,
                    'tracker': arr.toString(),
                    'preproc': arr_preproc.toString(),
                    'stopwords': stopwords,
                    'corrections': corrections
                }
                
            }).responseJSON;

            alert(tracks['status'])
        }
        
    }



    var stopwords_all = $.ajax({
                type: 'POST',
                async: false,
                url: '{% url "analyzer:call_ajax" %}',
                dataType: 'json',
                data: {
                    'which': 'get_all_stopwords_files'
                }
                
            }).responseJSON;

 
    
    var stopword_list = document.getElementById("stopword_list"); 

    for (i = stopword_list.length-1; i >= 0; i--) {
        stopword_list.options[i] = null;
        }
     
    $.each(stopwords_all['sw_names'], function(i, p) {
        var el = document.createElement("option");
        el.textContent = p;
        el.value = p;
        stopword_list.appendChild(el);
    });
  
    var stopword_text = document.getElementById("stopwords"); 
    
    for (var i = 0; i < stopwords_all['sw_default'].length; i++) {
        stopword_text.value  = stopword_text.value + stopwords_all['sw_default'][i] + '\n'
    }
    
    function save_stopwords(){
        var sw_name = document.getElementById("stopword_file_name").value; 
        var stopwords_all = $.ajax({
                type: 'POST',
                async: false,
                url: '{% url "analyzer:call_ajax" %}',
                dataType: 'json',
                data: {
                    'which': 'get_all_stopwords_files'
                }
                
            }).responseJSON;
        var arr_sw = []

        $.each(stopwords_all['sw_names'], function(i, p) {
           arr_sw.push(p)
        });

        if(sw_name == ''){
            alert('Please enter a name')
        }
        else if(sw_name == 'default_stopwords'){
            alert('Please choose a different name than default_stopwords')
        }
        else if(arr_sw.includes(sw_name)){
            alert('There is already a stopword file with this name!. Please choose a different name.')
        }
        else {
            stopwords = document.getElementById('stopwords').value
            
            var save_stopwords = $.ajax({
                type: 'POST',
                async: false,
                url: '{% url "analyzer:call_ajax" %}',
                dataType: 'json',
                data: {
                    'which': 'save_stopwords',
                    'sw': stopwords,
                    'name': sw_name
                }
                
            }).responseJSON;

            if(save_stopwords['status'] == 0){
                alert('This stopwords cannot be saved. Please check the list!')
            } else {
                 
                alert('Saved successfully');
                var stopwords_all = $.ajax({
                    type: 'POST',
                    async: false,
                    url: '{% url "analyzer:call_ajax" %}',
                    dataType: 'json',
                    data: {
                        'which': 'get_all_stopwords_files'
                    }
                }).responseJSON;

                

                var stopword_list = document.getElementById("stopword_list"); 


                for (i = stopword_list.length-1; i >= 0; i--) {
                    stopword_list.options[i] = null;
                    }

                $.each(stopwords_all['sw_names'], function(i, p) {
                    var el = document.createElement("option");
                    el.textContent = p;
                    el.value = p;
                    stopword_list.appendChild(el);
               

                });
            }
        }
    }


    function load_selected_stopword(){
        
        var sw_name = document.getElementById("stopword_list").value; 
        var stopwords_retrieved = $.ajax({
                type: 'POST',
                async: false,
                url: '{% url "analyzer:call_ajax" %}',
                dataType: 'json',
                data: {
                    'which': 'get_selected_stopwords',
                    'name': sw_name
                }
                
            }).responseJSON;

        if(stopwords_retrieved['status'] == 0){
            alert('Cannot load!')
        } else {
            var stopword_text = document.getElementById("stopwords"); 
            stopword_text.value = ''
            for (var i = 0; i < stopwords_retrieved['data'].length; i++) {
                stopword_text.value  = stopword_text.value + stopwords_retrieved['data'][i] + '\n'
            }
        }

    }





























    var corrections_all = $.ajax({
                type: 'POST',
                async: false,
                url: '{% url "analyzer:call_ajax" %}',
                dataType: 'json',
                data: {
                    'which': 'get_all_corrections_files'
                }
                
            }).responseJSON;

 
    
    var correction_list = document.getElementById("correction_list"); 

    for (i = correction_list.length-1; i >= 0; i--) {
        correction_list.options[i] = null;
        }
     
    $.each(corrections_all['cor_names'], function(i, p) {
        var el = document.createElement("option");
        el.textContent = p;
        el.value = p;
        correction_list.appendChild(el);
    });
  
   
    function save_corrections(){
        var cor_name = document.getElementById("corrections_file_name").value; 
        var corrections_all = $.ajax({
                type: 'POST',
                async: false,
                url: '{% url "analyzer:call_ajax" %}',
                dataType: 'json',
                data: {
                    'which': 'get_all_corrections_files'
                }
                
            }).responseJSON;
        var arr_cor = []

        $.each(corrections_all['cor_names'], function(i, p) {
            arr_cor.push(p)
        });

        if(cor_name == ''){
            alert('Please enter a name')
        }
        else if(arr_cor.includes(cor_name)){
            alert('There is already a correction file with this name!. Please choose a different name.')
        }
        else {
            corrections = document.getElementById('corrections').value

            var to_python = ''
            var temp = corrections.split("\n");
            error = false

            for (var i=0;i<temp.length;i++)
            {
                
                try {
                    var splitted = temp[i].split(":");
                    if(splitted.length != 2){
                        error = true
                    }
                     
                    to_python = to_python + "['" + splitted[0].trim() + "', '" + splitted[1].trim() + "'],"
                } catch (error) {
                    error = true
                }
            }
            to_python = '[' + to_python.slice(0, -1) + ']'
            alert(to_python)
            if(!error){

                var save_corrections = $.ajax({
                    type: 'POST',
                    async: false,
                    url: '{% url "analyzer:call_ajax" %}',
                    dataType: 'json',
                    data: {
                        'which': 'save_corrections',
                        'cor': to_python,
                        'name': cor_name
                    }
                    
                }).responseJSON;

                if(save_corrections['status'] == 0){
                    alert('This corrections cannot be saved. Please check the list!')
                } else {
                    
                    alert('Saved successfully');
                    var corrections_all = $.ajax({
                        type: 'POST',
                        async: false,
                        url: '{% url "analyzer:call_ajax" %}',
                        dataType: 'json',
                        data: {
                            'which': 'get_all_corrections_files'
                        }
                    }).responseJSON;

                    

                    var correction_list = document.getElementById("correction_list"); 


                    for (i = correction_list.length-1; i >= 0; i--) {
                        correction_list.options[i] = null;
                        }

                    $.each(corrections_all['cor_names'], function(i, p) {
                        var el = document.createElement("option");
                        el.textContent = p;
                        el.value = p;
                        correction_list.appendChild(el);
                

                    });
                }
            } else {
                alert('Error in corrections')
            }
        }
    }


    function load_selected_correction(){
        
        var cor_name = document.getElementById("correction_list").value; 
        var corrections_retrieved = $.ajax({
                type: 'POST',
                async: false,
                url: '{% url "analyzer:call_ajax" %}',
                dataType: 'json',
                data: {
                    'which': 'get_selected_corrections',
                    'name': cor_name
                }
                
            }).responseJSON;

        if(corrections_retrieved['status'] == 0){
            alert('Cannot load!')
        } else {
            var correction_text = document.getElementById("corrections"); 
            correction_text.value = corrections_retrieved['data']
        }

    }

</script>

<style>
/*
 * Table styles
 */
 table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}
table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111111;
}
table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111111;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting {
  background-image: url("../images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("../images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("../images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("../images/sort_desc_disabled.png");
}
table.dataTable tbody tr {
  background-color: #c0d0fc;
}
table.dataTable tbody tr.selected {
  background-color: #b0bed9;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 10px;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #dddddd;
}
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #dddddd;
}
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #bbcbf6;
}
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #acbad4;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #b9c9f3;
}
table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #aab7d1;
}
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #bcccf7;
}
table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad5;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #b6c5ee;
}
table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #b7c6f0;
}
table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: #b9c8f2;
}
table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}
table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}
table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #bcccf7;
}
table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #becef9;
}
table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #bfcffb;
}
table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}
table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}
table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #b0bfe7;
}
table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #b2c0e9;
}
table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #b4c3ec;
}
table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a2aec7;
}
table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a3b0c9;
}
table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a5b2cb;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #111111;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap;
}
table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px;
}
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px;
}
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px;
}
table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left;
}
table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center;
}
table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}
table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify;
}
table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap;
}
table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left;
}
table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center;
}
table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right;
}
table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}
table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}
table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left;
}
table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center;
}
table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}
table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}
table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}
 
table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: content-box;
}
 
/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
.dataTables_wrapper .dataTables_length {
  float: left;
}
.dataTables_wrapper .dataTables_length select {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  padding: 4px;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  margin-left: 3px;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111111 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(192, 208, 252, 0)), color-stop(25%, rgba(192, 208, 252, 0.9)), color-stop(75%, rgba(192, 208, 252, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(192, 208, 252, 0) 0%, rgba(192, 208, 252, 0.9) 25%, rgba(192, 208, 252, 0.9) 75%, rgba(192, 208, 252, 0) 100%);
  background: -moz-linear-gradient(left, rgba(192, 208, 252, 0) 0%, rgba(192, 208, 252, 0.9) 25%, rgba(192, 208, 252, 0.9) 75%, rgba(192, 208, 252, 0) 100%);
  background: -ms-linear-gradient(left, rgba(192, 208, 252, 0) 0%, rgba(192, 208, 252, 0.9) 25%, rgba(192, 208, 252, 0.9) 75%, rgba(192, 208, 252, 0) 100%);
  background: -o-linear-gradient(left, rgba(192, 208, 252, 0) 0%, rgba(192, 208, 252, 0.9) 25%, rgba(192, 208, 252, 0.9) 75%, rgba(192, 208, 252, 0) 100%);
  background: linear-gradient(to right, rgba(192, 208, 252, 0) 0%, rgba(192, 208, 252, 0.9) 25%, rgba(192, 208, 252, 0.9) 75%, rgba(192, 208, 252, 0) 100%);
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #333333;
}
.dataTables_wrapper .dataTables_scroll {
  clear: both;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
  vertical-align: middle;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111111;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border-bottom: none;
}
.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
 
@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}



</style>
{% endblock %}
</div>

