{% extends 'main.html' %} {% load static %} {% block content %}



<script>
  $draggable( function() {
    
  $draggable( "#sortable" ).sortable();
  $draggable( "#sortable" ).disableSelection();
  
} );
</script>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
/>

{% csrf_token %} 

<script src="/static/dist-assets/js/plugins/jquery.smartWizard.min.js"></script>
<script src="/static/dist-assets/js/scripts/smart.wizard.script.min.js"></script>

<link rel="stylesheet" href="/static/dist-assets/css/plugins/smart.wizard/smart_wizard.min.css" />
 


 
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div id="sortable">

<div class="col-md-12" >
  <div class="card mb-4" id = 'deneme_renk'>
      <div class="card-body" >
       <div class="card-title mb-3"><h1><b>&#128269; Create Track</b></h1></div>
      <!--  SmartWizard html -->
      <div id="smartwizard" class="sw-main sw-theme-default" >
        
          <ul class="nav nav-tabs step-anchor">
              <li class="nav-item active"><a href="#step-1" class="nav-link">Step 1<br><small>Query Specfication</small></a></li>
              <li class="nav-item"><a href="#step-2" class="nav-link">Step 2<br><small>This is step description</small></a></li>
              <li class="nav-item"><a href="#step-3" class="nav-link">Step 3<br><small>This is step description</small></a></li>
              
          </ul>
          <div >
            <div id="step-1">
                <h3 class="border-bottom border-gray pb-2"><h3><b>Specify Query Name</b></h3></h3>
                <input type='text' class="col-md-12" value ='For example: covid19_related_tweets' id='name_query'> </input>
               

                <h3 class="border-bottom border-gray pb-2"><h3><b>Specify your query by keyword, hashtags, and phrases</b></h3></h3>
                <input type='text' class="col-md-12" value ='For example: (covid OR covid19)' id='user_query'> </input>
            </div>
            <div id="step-2"  >
              <h3 class="border-bottom border-gray pb-2"><h3><b>Specify collection frequencies:</b></h3></h3>
                <div class="row">
                     


                    <div class="col-md-4">
                      <div class="card mb-4">
                          <div class="card-body">
                              <div class="card-title"><h3><b>Level 1</b></h3></div>
                              <label class="radio radio-outline-primary">
                                  <input type="radio" name="level1" value='minute' onclick="myFunction()"><span>Minutely</span><span class="checkmark"></span>
                              </label>
                              <label class="radio radio-outline-secondary">
                                  <input type="radio" name="level1" value='hour' onclick="myFunction()"><span>Daily</span><span class="checkmark"></span>
                              </label>
                          </div>
                      </div>
                  </div>


                  <div class="col-md-4" display='none' id='level2_minute'>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-title"><h3><b>Level 2</b></h3></div>
                            <label class="radio radio-outline-primary">
                                <input type="radio" name="level2_minute" value=1><span>1-Minute</span><span class="checkmark"></span>
                            </label>
                            <label class="radio radio-outline-secondary">
                                <input type="radio" name="level2_minute" value=5><span>5-Minute</span><span class="checkmark"></span>
                            </label>
                            <label class="radio radio-outline-success">
                                <input type="radio" name="level2_minute" value=15><span>15-Minute</span><span class="checkmark"></span>
                            </label>
                            <label class="radio radio-outline-warning">
                                <input type="radio" name="level2_minute" value=30><span>30-Minute</span><span class="checkmark"></span>
                            </label>
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-4" id='level2_hour'>
                  <div class="card mb-4">
                      <div class="card-body">
                          <div class="card-title"><h3><b>Level 2</b></h3></div>
                          <label class="radio radio-outline-primary">
                              <input type="radio" name="level2_hour" value=1><span>1-Hour</span><span class="checkmark"></span>
                          </label>
                          <label class="radio radio-outline-secondary">
                              <input type="radio" name="level2_hour" value=2><span>2-Hour</span><span class="checkmark"></span>
                          </label>
                          <label class="radio radio-outline-success">
                              <input type="radio" name="level2_hour" value=3><span>3-Hour</span><span class="checkmark"></span>
                          </label>
                          
                      </div>
                  </div>
              </div>


                  <div class="col-md-4" display='none' id='level2_size'>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-title"><h3><b>Fetch Size</b></h3></div>
                            <label class="radio radio-outline-primary">
                                <input type="radio" name="level2_size" value=10><span>10</span><span class="checkmark"></span>
                            </label>
                            <label class="radio radio-outline-secondary">
                                <input type="radio" name="level2_size" value=50><span>50</span><span class="checkmark"></span>
                            </label>
                            <label class="radio radio-outline-success">
                                <input type="radio" name="level2_size" value=100><span>100</span><span class="checkmark"></span>
                            </label>
                            
                        </div>
                    </div>
                </div>

                  
                  </div>
              </div>
              <div id="step-3">
                <h3><b>Estimated number of tweets:</b></h3>
                
                <div class="col-md-12">
                  <div class="card mb-12">
                      <div class="card-body">
                        <input type="text" name="daterange" value="01/01/2021 - 01/15/2021" />   
                      </div>
                  </div>
              </div>
              
                <div class="col-md-12">
                  <div class="card mb-12">
                      <div class="card-body">
                          <h6 class="mb-3">Estimated number of tweets:</h6>
                          <p class="text-20 text-success line-height-1 mb-3"><i class="i-Arrow-Up-in-Circle" id='estimated_number_of_tweets'></i></p><small class="text-muted">Last down 4 days ago</small>
                      </div>
                  </div>
              </div>
    

              </div>
           
          </div>
          <button class="btn btn-primary btn-block mb-3"  type="button" onclick="createTrack()">Create Track</button>

      </div>
      
  </div>
</div>
</div>

<div id='date_start'></div>
<div id='date_end'></div>






<div class="col-md-12" >
  <div class="card mb-4" id = 'deneme_renk'>
      <div class="card-body" >
          <div class="card-title mb-3"><h1><b>All Tracks</b></h1></div>
          <table id="tracker_table" class="display" cellspacing="0" width='100%' >
              <thead>
                  <tr>
                      <th></th>
                      <th>username</th>
                      <th>query_name</th>
                      <th>query</th>
                      <th>frequency_level1</th>
                      <th>frequency_level2</th>
                      <th>fetch_size</th>
                      <th>status</th>
                      <th>date_start</th>
                      <th>date_end Name</th>                
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                      <th></th>
                      <th>username</th>
                      <th>query_name</th>
                      <th>query</th>
                      <th>frequency_level1</th>
                      <th>frequency_level2</th>
                      <th>fetch_size</th>
                      <th>status</th>
                      <th>date_start</th>
                      <th>date_end Name</th>                
                  </tr>
              </tfoot>
              </table>
    
            
      </div>
      <div class='row'>
          <div class="col-md-6">
              <button class="btn btn-primary btn-block mb-3" id="alert-success" type="submit" onclick="analyze_processor();">Analyze Selected Processor</button>
         </div>
          <div class="col-md-6">
            
              <form action="{% url 'tracker:create_track' %}" method="POST">
                  {% csrf_token %}
                   <input type="hidden"  id='dummy' name='dummy'></input>
                  <button class="btn btn-danger btn-block mb-3" id="alert-success" type="submit" name = 'btn' onclick="stop_processors();">Cancel Selected Processor(s)</button>
                   
              </form>
             
          </div>
          
      </div>
  </div>
  {{ status|safe}}
</div>


<div class="col-md-12" id ='analysis_chart'>
  <div class="card mb-4" id = 'deneme_renk'>
    <div class="card-body" >
      <h1><b>Count Chart</b></h1>
      <div id="chartdiv_count"></div>
      <h1><b>Date Chart</b></h1>(last 365 days)
      <div id="chartdiv_date"></div>
    </div>
  </div>
</div>
</div>

<!-- Styles -->
<style>
  #chartdiv_date {
    width: 100%;
    height: 500px;
  }

  #chartdiv_count {
    width: 100%;
    height: 600px;
  }
  
  </style>
  
  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  
  <!-- Chart code -->
  <script>

      // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end
  
  // Create chart instance

  analysis_chart = document.getElementById('analysis_chart')
  analysis_chart.style.display = 'none'

  function draw_it() {
  
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end
  
  _data =  $.ajax({
                    type: 'POST',
                    async: false,
                    url: '{% url "tracker:visualize_accumulations" %}',
                    dataType: 'json',
                    data:{'dummy': document.getElementById('dummy').value}
                }).responseJSON;

  analysis_chart = document.getElementById('analysis_chart')
  analysis_chart.style.display = 'block'
  

  draw_count()
  draw_date()
      
  
  }; // end am4core.ready()


  function draw_count()
  {
    
        // Create chart instance
      var chart = am4core.create("chartdiv_count", am4charts.XYChart);
      chart.scrollbarX = new am4core.Scrollbar();
      // Add data
      
      chart.data =_data['counts']
      
      
      var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "query_name";
      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 5;

      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.minWidth = 5;

      var valueAxis2 = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis2.title.text = "Type %";
      valueAxis2.renderer.opposite = true;
      valueAxis2.renderer.grid.template.disabled = true;

      // Create series
      var series = chart.series.push(new am4charts.ColumnSeries());
      series.sequencedInterpolation = true;
      series.dataFields.valueY = "total";
      series.yAxis = valueAxis;
      series.dataFields.categoryX = "query_name";
      series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
      series.columns.template.strokeWidth = 0;

      var series2 = chart.series.push(new am4charts.LineSeries());
      series2.dataFields.valueY = "replied_to_perc";
      series2.dataFields.categoryX = "query_name";
      series2.name = "replied_to";
      series2.strokeWidth = 2;
      series2.tensionX = 0.7;
      series2.yAxis = valueAxis2;
      series2.tooltipText = "{name}\n[bold font-size: 20]{valueY}[/]";

      var series3 = chart.series.push(new am4charts.LineSeries());
      series3.dataFields.valueY = "quoted_perc";
      series3.dataFields.categoryX = "query_name";
      series3.name = "quoted";
      series3.strokeWidth = 2;
      series3.tensionX = 0.7;
      series3.yAxis = valueAxis2;
      series3.tooltipText = "{name}\n[bold font-size: 20]{valueY}[/]";

      var series4 = chart.series.push(new am4charts.LineSeries());
      series4.dataFields.valueY = "retweeted_perc";
      series4.dataFields.categoryX = "query_name";
      series4.name = "retweeted";
      series4.strokeWidth = 2;
      series4.tensionX = 0.7;
      series4.yAxis = valueAxis2;
      series4.tooltipText = "{name}\n[bold font-size: 20]{valueY}[/]";

      var series5 = chart.series.push(new am4charts.LineSeries());
      series5.dataFields.valueY = "regular_perc";
      series5.dataFields.categoryX = "query_name";
      series5.name = "regular";
      series5.strokeWidth = 2;
      series5.tensionX = 0.7;
      series5.yAxis = valueAxis2;
      series5.tooltipText = "{name}\n[bold font-size: 20]{valueY}[/]";



      

      series.tooltip.pointerOrientation = "vertical";

      series.columns.template.column.cornerRadiusTopLeft = 10;
      series.columns.template.column.cornerRadiusTopRight = 10;
      series.columns.template.column.fillOpacity = 0.8;
        
        // on hover, make corner radiuses bigger
        var hoverState = series.columns.template.column.states.create("hover");
        hoverState.properties.cornerRadiusTopLeft = 0;
        hoverState.properties.cornerRadiusTopRight = 0;
        hoverState.properties.fillOpacity = 1;

        series.columns.template.adapter.add("fill", function(fill, target) {
          return chart.colors.getIndex(target.dataItem.index);
        });

        // Cursor
        chart.cursor = new am4charts.XYCursor();
  }

  function draw_date()
  {
        // Create chart instance
      var chart = am4core.create("chartdiv_date", am4charts.XYChart);
      chart.scrollbarX = new am4core.Scrollbar();
      // Add data
      
      chart.data =_data['dates']
      
      
      var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "query_name";
      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 5;

      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.minWidth = 5;

      // Create series
      var series = chart.series.push(new am4charts.ColumnSeries());
      series.sequencedInterpolation = true;
      series.dataFields.valueY = "total";
      series.dataFields.categoryX = "query_name";
      series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
      series.columns.template.strokeWidth = 0;

      series.tooltip.pointerOrientation = "vertical";

      series.columns.template.column.cornerRadiusTopLeft = 10;
      series.columns.template.column.cornerRadiusTopRight = 10;
      series.columns.template.column.fillOpacity = 0.8;
        
        // on hover, make corner radiuses bigger
        var hoverState = series.columns.template.column.states.create("hover");
        hoverState.properties.cornerRadiusTopLeft = 0;
        hoverState.properties.cornerRadiusTopRight = 0;
        hoverState.properties.fillOpacity = 1;

        series.columns.template.adapter.add("fill", function(fill, target) {
          return chart.colors.getIndex(target.dataItem.index);
        });

        // Cursor
        chart.cursor = new am4charts.XYCursor();
  }
  </script>
  
  <!-- HTML -->
 


<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

<script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.colVis.min.js"></script>
<link href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" rel="stylesheet" />



<link rel="stylesheet" href="/static/dist-assets/css/plugins/sweetalert2.min.css" />
<script src="/static/dist-assets/js/plugins/sweetalert2.min.js"></script>
<script src="/static/dist-assets/js/scripts/sweetalert.script.min.js"></script>



  <script>

  document.getElementById("level2_minute").style.display = "none";
  document.getElementById("level2_hour").style.display = "none";
  document.getElementById("date_start").style.display = "none";
  document.getElementById("date_end").style.display = "none";

  
  function myFunction() {
      var x = document.querySelector('input[name="level1"]:checked').value;

      if (x == 'minute') {
        document.getElementById("level2_minute").style.display = "block";
        document.getElementById("level2_hour").style.display = "none";
      } else {
        document.getElementById("level2_minute").style.display = "none";
        document.getElementById("level2_hour").style.display = "block";
      }
    }




    function createTrack() {
        
        var name_query = document.getElementById("name_query").value;
        var query = document.getElementById("user_query").value;
        var errors = ''
        
        try {
          var level1 = document.querySelector('input[name="level1"]:checked').value;
          if(level1 == 'minute'){
            level2 = document.querySelector('input[name="level2_minute"]:checked').value
          } else {
            level2 = document.querySelector('input[name="level2_hour"]:checked').value
          }
        } catch (error) {
          var level1 = false;
          var level2 = false
          errors = errors + 'Frequency, '
           
        }
        
        try {
          var fetch_size = document.querySelector('input[name="level2_size"]:checked').value;
        } catch (error) {
          var fetch_size = false;
          errors = errors + 'Fetch Size, '
         
        }


      
        var date_start = document.getElementById("date_start").innerText;
        if(date_start == ''){
          var date_start = false
          errors = errors + 'Start Date, '
        }
      
      


      
        var date_end = document.getElementById("date_end").innerText;
        if(date_end == ''){
          var date_end = false
          errors = errors + 'End Date, '
        }
      


        if(!(level1 && level2 && fetch_size && date_start && date_end)){
          alert('Error in ' + errors)
        }
        else {

          alert([name_query,query, level1, level2, fetch_size, date_start, date_end])
          var result = $.ajax({
                          type: 'POST',
                          async: false,
                          url: '{% url "tracker:create_track_ajax" %}',
                          dataType: 'json',
                          data: {'name':name_query,
                                'query':query, 
                                'level1':level1, 
                                'level2':level2,
                                'fetch_size':fetch_size,
                                'date_start':date_start,
                                'date_end':date_end
                                }
                      }).responseJSON;
              

  
            if(result['error'] != 'None'){
              alert(result['error'])
            } else {
              alert('successful')
            }
        }
            

    };


    var tracks = $.ajax({
                    type: 'POST',
                    async: false,
                    url: '{% url "tracker:get_tracks" %}',
                    dataType: 'json'
                }).responseJSON;
    
                
    var table_processor = $('#tracker_table').DataTable({
        data: tracks,
        dom: 'Bfrtip',
        'columnDefs': [
          {
                'targets': 0,
                'checkboxes': {
                    'selectRow': true
                },
                'className': 'noVis'
            }
            
        ],
        'columns': [
            null,
            null,
            null,
            {"visible": false},
            {"visible": false},
            {"visible": false},
            null,
            null,
            null,
            null
        ],
        'buttons': [
            {
                'extend': 'colvis',
                'columns': ':not(.noVis)'
            }
        ],
        'select': {
            'style': 'multi'
        },
        'order': [[1, 'asc']]
    })
    



   
    $('#tracker_table tbody').on('change', 'input[type="checkbox"]', function() {
      arr_selected_procs = []
      
      var rows_selected = table_processor.column(0).checkboxes.selected();
      document.getElementById('dummy').value =''
      $.each(rows_selected, function(index, rowId){arr_selected_procs.push(rowId);  document.getElementById('dummy').value = document.getElementById('dummy').value + ','+rowId});
      document.getElementById('dummy').value = document.getElementById('dummy').value.slice(1,)
    });
  
    function analyze_processor(){
      draw_it();
      
    }
    
    
</script>

<script>
  $(function() {
    $('input[name="daterange"]').daterangepicker({
      opens: 'left'
    }, function(start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));

      const diffTime = Math.abs(end - start) + 1;
      const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
      document.getElementById("estimated_number_of_tweets").innerHTML = diffDays * 100
      document.getElementById("date_start").innerHTML = start.format('YYYY-MM-DD')
      document.getElementById("date_end").innerHTML = end.format('YYYY-MM-DD')
    });
  });
  </script>


{% endblock %}


</div>

