{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>


<style>

    .column {
      float: left;
      width: 25%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style> 
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

 
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    
    table.dataTable { background-color: #beaad1;  }


</style>
<div class="breadcrumb">
     
 
</div>
<div class="row">
<div class="w-25 p-3">
                <div class="card" >
                
                    <!-- begin::form-->
                    <form action="action">
                        <div class="card-body">
                       

                            <fieldset >
                                <td>
                                <label><h4><b>Type Keywords and press Enter</b></h4></label>
                                <div class="form-group" >
                                    <div class="tagBox tagging editable" data-no-duplicate="true" data-pre-tags-separator="
            " data-no-duplicate-text="Duplicate tags" data-type-zone-class="type-zone" data-tag-box-class="tagging" data-edit-on-delete="false"><div class="tag" id = 'tag'><span>#</span> preexisting-tag<input type="hidden" name="tag[]" value="preexisting-tag"><a role="button" class="tag-i">×</a></div><input class="type-zone" contenteditable="true"></div>
                                 
                                </div>
                            </td>
                            <td>
                                <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span></span> <i class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            </fieldset>
                            
                          
             

                        </div>
                        
                        <div class="card-footer">
                            <div class="mc-footer">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-primary m-1" id='button' type="button">Collect Sample Tweets</button>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    <!--  end::form 3-->
                </div>
</div>
<div class="w-75 p-3">
<div class="card" >
    
<div id="fs1" align='center'>

    <!-- Styles -->
<style>
#chartdiv {
  width:100%;
  height: 500px;
}
</style>

<!-- HTML -->
<div id="chartdiv"></div>


</div>
</div>
</div>
</div>
 
    <table id="example" class="display" visibility='hidden' > 
        <thead>
            <tr>
                <th>id</th>
                <th>created_at</th>
                <th>text</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>id</th>
                <th>created_at</th>
                <th>text</th>
            </tr>
        </tfoot>
    </table>

</div>


<script>


var start = moment().subtract(29, 'days');
var end = moment();

function cb(start, end) {
    $('#reportrange span').html(start.format('YYYY-MM-DD') + ' / ' + end.format('YYYY-MM-DD'));
}

$('#reportrange').daterangepicker({

    startDate: start,
    endDate: end,
    ranges: {
       'Today': [moment(), moment()],
       'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
       'Last 7 Days': [moment().subtract(6, 'days'), moment()],
       'Last 30 Days': [moment().subtract(29, 'days'), moment()],
       'This Month': [moment().startOf('month'), moment().endOf('month')],
       'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    }
}, cb);

cb(start, end);



</script>



<script>
window.onload = function(e){ 
    document.getElementById("example").style.visibility = 'hidden'
}

$("#button").click(function () {
    aa = document.querySelectorAll("div .tag")
    dates = document.querySelector("#reportrange > span").innerText.split('/')
    start = dates[0].trim()
    end = dates[1].trim()
    if (aa.length == 0){
        alert('Please provide at least 1 keyword!' + start +","+end)
    }
    else{
        keyword = aa[0].innerText.replace('#','')

        var beer = $.ajax({
                        type: 'POST',
                        async: false,
                        url: '{% url "accounts:snifftweets" %}',
                        dataType: 'json',
                        data: {'keyword':keyword, 
                               'start':start, 
                               'end':end}
                        
                    }).responseJSON;
                    console.log(beer)

        document.getElementById("example").style.visibility = 'visible'

        $('#example').DataTable( {
            destroy: true,
            "processing": true,

            data: beer['data']
        
        } );

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
            var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());

            series.accuracy = 4;
            series.step = 15;
            series.rotationThreshold = 0.7;
            series.maxCount = 200;
            series.minWordLength = 2;
            series.labels.template.tooltipText = "{word}: {value}";
            series.fontFamily = "Courier New";

         
            series.heatRules.push({
            "target": series.labels.template,
            "property": "fill",
            "min": am4core.color("#FC9B26"),
            "max": am4core.color("#6926FD"),
            "dataField": "value"
            });


            series.maxFontSize = am4core.percent(30);

            var textonly = ''
       
            for (var i = 0, len = beer['data'].length; i < len; i++) {
                textonly += beer['data'][i][2];
               
            }
            kw = aa[0].innerText.replace('#','').toLowerCase().replace('×','').trim()
            var re = new RegExp(kw, 'g');
            var co = new RegExp("co", 'g');
            
            series.text = textonly.toLowerCase().replace(/text/g,'').replace(/hashtag/g,'').replace(/https/g,'').replace(re,'').replace(co,'').replace(/rt/g,'')

            
    }
   
});

  </script>





{% endblock %}






